@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
$color: #0cf;
$orange: #DF4500;
$gray: #35302D;
$gray-shine: #3C3735;
$white-off: #DFDBD9;
$sans: 'Source Sans Pro', Helvetica, Arial, sans-serif;

:root{

}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    color: #4089a6;
    background: linear-gradient(-45deg, #8C1BAB, #B210FF, #F761A1, #EECE13);
    -webkit-font-smoothing: antialiased;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

main {
    height: 100vh;
    /* padding: 10px; */
    text-align: center;

    .-content {
        position: relative;
        height: 100vh;

        > div {
            height: 100%;
            overflow: hidden;
            overflow-y: auto;
        }

        &.-index {
            background-color: #f6f6f6;
            display: table;
            width: 100%;

            > div {
                display: table-cell;
                vertical-align: middle;
            }
        }
    }
}


.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
/* ScrollBar */
#section {
    padding: 1rem;
    overflow-y: auto;
    direction: ltr;
    scrollbar-color: #d4aa70 #e4e4e4;
    scrollbar-width: thin;
}

.section::-webkit-scrollbar {
    width: 20px;
}

.section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

.section::-webkit-scrollbar-thumb {
    border-radius: 100px;
    border: 6px solid rgba(0, 0, 0, 0.18);
    border-left: 0;
    border-right: 0;
    background-color: #8070d4;
}
//List Hover action
.list-hover-slide {

    li {
        position: relative;
        overflow: hidden;
    }

    a {
        display: block;
        position: relative;
        z-index: 1;
        transition: .35s ease color;

        &:before {
            content: '';
            display: block;
            z-index: -1;
            position: absolute;
            left: -100%;
            top: 0;
            width: 100%;
            height: 100%;
            border-right: solid 5px $orange;
            background: $gray-shine;
            transition: .35s ease left;
        }

        &.is-current,
        &:hover {

            &:before {
                left: 0;
            }
        }
    }
}
//Social Icon Actions
.social-links {
    border-bottom: solid 1px $gray-shine;

    li {
        width: 25%;
        border-left: solid 1px $gray-shine;

        &:first-child {
            border: none;
        }
    }

    a {
        display: block;
        height: 5.5em;
        text-align: center;
        color: $gray-shine;
        font: 0.75em/5.5em $sans;

        &:hover {
            color: $white-off;
        }
    }
}
//SideNav
.sidenav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 60px;
}

.sidenav .nav {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 1000;
    left: 0px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.sidenav .nav.active {
    right: -10px;
}

.sidenav .nav:hover {
    right: -85px; /* Border width*2 */
}

.sidenav .description, .sidenav .icon {
    height: 60px;
    line-height: 60px;
}

.sidenav .nav.active .description, .sidenav .nav.active .icon {
    background: #FF5722;
}

.sidenav .icon {
    width: 60px; /* Width of navbar */
    text-align: center;
    color: #e9e9e9;
    font-size: 25px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.sidenav .description {
    position: relative;
    left: 60px;
    color: #eee;
    min-width: 80px;
    padding-left: 20px;
    height: 100%;
}
