<AuthorizeView>
    <Authorized>
        <Button Type="ButtonType.Link" Color="Color.Danger" To="/signout-oidc">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <Button Type="ButtonType.Link" To="/signup-oidc" Color="Color.Info">Register</Button>
        <Button Type="ButtonType.Link" To="/signin-oidc" Color="Color.Success">Log In</Button>
    </NotAuthorized>
</AuthorizeView>
