<AuthorizeView>
    <Authorized>
        <Button Type="ButtonType.Link" Color="Color.Danger" Border="Border.Is2.Light.OnAll.Rounded" To="/signout-oidc" Shadow="Shadow.Default">Log out</Button>
    </Authorized>
    <NotAuthorized>
        <Buttons Role="ButtonsRole.Toolbar" Flex="Flex.JustifyContent.Between.AlignContent.Center">
            <Button Type="ButtonType.Link" To="/signup-oidc" Color="Color.Info" Margin="Margin.Is2.FromEnd">Register</Button>
            <Button Type="ButtonType.Link" To="/signin-oidc" Color="Color.Success">Log In</Button>
        </Buttons>
    </NotAuthorized>
</AuthorizeView>
