/* Top Of Footer */
.new_footer_area {
    background: #fbfbfd;
}

.new_footer_top {
    padding: 120px 0 270px;
    position: relative;
    overflow-x: hidden;
}

.new_footer_area .footer_bottom {
    padding-top: 5px;
    padding-bottom: 50px;
}

/* Footer Bottom */
.footer_bottom {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #7f88a6;
    padding: 27px 0;
}