@page "/"

    <div class="container container-fluid">
        <div class="jumbotron jumbotron-fluid text-center">
            <h1>Hello, Security Staff!</h1>
            <h3>
                Welcome to Sec Ops.
            </h3>
        </div>
    </div>

