
@if (ToastList.Any())
{
    <div class="toast-container @PositionClass">
        <CascadingValue Value="this">
            @foreach (var toast in ToastList.OrderBy(x => x.TimeStamp))
            {
                <Toast @key="toast" ToastSettings="toast.ToastSettings" ToastId="toast.Id" Timeout="Timeout" />
            }
        </CascadingValue>
    </div>
}
