@page "/appError"
<Div>
    <Container Fluid="true" Background="Background.Dark" VerticalAlignment="VerticalAlignment.Top" Margin="Margin.Is3.OnDesktop.Is2.OnMobile" >
        <Row>
            <Column>
                <Div>
                    <Paragraph Casing="CharacterCasing.Upper" TextColor="TextColor.Danger" TextWeight="TextWeight.Bold" TextAlignment="TextAlignment.Center">Error: @ApiError.ResponseCode.ToString()</Paragraph>
                </Div>
            </Column>
        </Row>
        <Row>
            <Column>
                <Div>
                    <Paragraph Casing="CharacterCasing.Title" TextColor="TextColor.White" TextWeight="TextWeight.Normal" TextAlignment="TextAlignment.Left">Message: @ApiError.ResponseMessage</Paragraph>
                </Div>
            </Column>
        </Row>
    </Container>
</Div>
