<Div>
    <Field>
        <DropdownList TItem="ThemeChoice" TValue="ThemeChoice"
                      Data="@ThemeChoice.GetAll()"
                      TextField="@((item) => item.Name)"
                      ValueField="@((item) => item)"
                      SelectedValueChanged="OnClick"
                      Color="Color.Primary"
                      MaxMenuHeight="200px">
            Choose Theme
        </DropdownList>
    </Field>
    <Field Horizontal>
        Current Selected Theme: @($"{_selectedTheme ?? ThemeChoice.Dark}")
    </Field>
</Div>